#!/bin/bash

# Default values are commented

#CA="https://acme-v01.api.letsencrypt.org"
#WELLKNOWN=".acme-challenges"
#KEYSIZE=4096
#BASEDIR=./
#OPENSSL_CNF=.... # system default (see openssl version -d)
#ROOTCERT="lets-encrypt-x1-cross-signed.pem"

# program called before responding to the challenge
# arguments: path/to/token token;
# can be used to e.g. upload the challenge if this script doesn't run on the webserver
#HOOK_CHALLENGE_PRE=

# program called after responding to the challenge
# arguments: path/to/token;
# can be used to e.g. remove the challenge if this script doesn't run on the webserver
#HOOK_CHALLENGE_POST=

# program called after a creation of a new cert
# arguments: path/to/cert.perm path/to/privkey.pem path/to/fullchain.pem
# can be used to e.g. deploy the signed cert if this script doesn't run on the webserver
#HOOK_NEWCERT=

# try to renew certs that are within RENEW_DAYS days of their expiration date
#RENEW_DAYS="14"

# create new private key for each csr (yes|no)
#PRIVATE_KEY_RENEW=no

# email to use during the registration
#CONTACT_EMAIL=

